<div class="col-md-4" style="width: 300px;">
	<label>Início</label>
	<div id="monthYear">
		<label for="selMonthStart">Mês:
			<select class="form-control" id="selMonthStart">
				<option value="0" selected>Janeiro</option>
				<option value="1">Fevereiro</option>
				<option value="2">Março</option>
				<option value="3">Abril</option>
				<option value="4">Maio</option>
				<option value="5">Junho</option>
				<option value="6">Julho</option>
				<option value="7">Agosto</option>
				<option value="8">Setembro</option>
				<option value="9">Outubro</option>
				<option value="10">Novembro</option>
				<option value="11">Dezembro</option>
			</select>
		</label>
		<label for="selYearStart">Ano:
			<select class="form-control" id="selYearStart">
				<option value="2013" selected>2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
			</select>
		</label>
	</div>
</div>
<div class="col-md-4" style="width:300px;">
	<label>Fim</label>
	<div id="monthYear">
		<label for="selMonthEnd">Mês:
			<select class="form-control" id="selMonthEnd">
				<option value="0">Janeiro</option>
				<option value="1">Fevereiro</option>
				<option value="2">Março</option>
				<option value="3">Abril</option>
				<option value="4">Maio</option>
				<option value="5">Junho</option>
				<option value="6">Julho</option>
				<option value="7">Agosto</option>
				<option value="8">Setembro</option>
				<option value="9">Outubro</option>
				<option value="10">Novembro</option>
				<option value="11" selected>Dezembro</option>
			</select>
		</label>
		<label for="selYearEnd">Ano:
			<select class="form-control" id="selYearEnd">
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017" selected>2017</option>
			</select>
		</label>
	</div>
</div> 