<div class="col-md-4" style="width: 550px;">  
	<label>Período</label>
	<div id="monthYear">
		<label for="selMonths">Mês:
			<select multiple="multiple" id="selMonths">
				<option value="0" selected>Janeiro</option>
				<option value="1" selected>Fevereiro</option>
				<option value="2" selected>Março</option>
				<option value="3" selected>Abril</option>
				<option value="4" selected>Maio</option>
				<option value="5" selected>Junho</option>
				<option value="6" selected>Julho</option>
				<option value="7" selected>Agosto</option>
				<option value="8" selected>Setembro</option>
				<option value="9" selected>Outubro</option>
				<option value="10" selected>Novembro</option>
				<option value="11" selected>Dezembro</option>
			</select>
		</label>
		<label for="selYears">Ano:
			<select multiple="multiple" id="selYears">
                <option value="2013" selected>2013</option>
				<option value="2014" selected>2014</option>
				<option value="2015" selected>2015</option>
				<option value="2016" selected>2016</option>
				<option value="2017" selected>2017</option>
			</select>
		</label>
	</div>
</div> 