<div class="col-md-4" style="width: 350px;">  
	<label>Período</label>
	<div id="monthYear">
		<label for="selSeasons">Estação:
			<select multiple class="form-control" id="selSeasons">
				<option>Todos</option>
				<option>Primavera</option>
				<option>Verão</option>
				<option>Outono</option>
				<option>Inverno</option>
			</select>
		</label>
		<label for="selYears">Ano:
			<select multiple class="form-control" id="selYears">
				<option>Todos</option>
				<option>2013</option>
				<option>2014</option>
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
			</select>
		</label>
	</div>
</div>