<div class="col-md-4" style="width: 350px;">  
	<label>Início</label>
	<div id="monthYear">
		<label for="selSeasonStart">Estação:
			<select class="form-control" id="selSeasonStart">
				<option>Primavera</option>
				<option>Verão</option>
				<option>Outono</option>
				<option>Inverno</option>
			</select>
		</label>
		<label for="selYearStart">Ano:
			<select class="form-control" id="selYearStart">
				<option>2013</option>
				<option>2014</option>
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
			</select>
		</label>
	</div>
</div> 
<div class="col-md-4" style="width: 350px;">  
	<label>Fim</label>
	<div id="monthYear">
		<label for="selSeasonEnd">Mês:
			<select class="form-control" id="selSeasonEnd">
				<option>Primavera</option>
				<option>Verão</option>
				<option>Outono</option>
				<option>Inverno</option>
			</select>
		</label>
		<label for="selYearEnd">Ano:
			<select class="form-control" id="selYearEnd">
				<option>2013</option>
				<option>2014</option>
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
			</select>
		</label>
	</div>
</div> 